<header>
  <div class="header-buttons">
    <button class="index-button" (click)="onTabClick(PageSelector.LANDING)">HOME</button>
    <button class="index-button" (click)="onTabClick(PageSelector.SERVICES)">SERVICES</button>
    <button class="index-button" (click)="onTabClick(PageSelector.WORK_HISTORY)">PORTFOLIO</button>
    <button class="index-button" (click)="onTabClick(PageSelector.CONTACT)">CONTACT US</button>
  </div>
  <div>
    <img [src]="Images.LOGO_TEXT" alt="image" >
    <h1>Social Media Management Agency</h1>
  </div>
</header>
<pre><router-outlet></router-outlet></pre>
<footer>
  <p>St. Paul and Minneapolis, Minnesota</p>
  <p><a href="https://www.instagram.com/levelup.marketing.LLC">@levelup.marketing.llc</a></p>
  <p>contactus@levelupmarketingllc.com</p>
</footer>
