<header>
  <img class="logo" [src]="Images.logo" alt="image" >
  <h1>{{companyName}}</h1>
    <button mat-flat-button color="link" (click)="onTabClick(PageSelector.LANDING)">Home</button>
    <button mat-flat-button color="link" (click)="onTabClick(PageSelector.SERVICES)">Services</button>
    <button mat-flat-button color="link" (click)="onTabClick(PageSelector.WORK_HISTORY)">Our Work</button>
    <button mat-flat-button color="link" (click)="onTabClick(PageSelector.CONTACT)">Contact Us</button>
</header>
<div [ngSwitch]="pageSelector.value">
  <pre *ngSwitchCase="PageSelector.LANDING">
    <landing-page></landing-page>
  </pre>
  <pre *ngSwitchCase="PageSelector.WORK_HISTORY">
    <work-history></work-history>
  </pre>
  <pre *ngSwitchCase="PageSelector.SERVICES">
    <services></services>
  </pre>
  <pre *ngSwitchCase="PageSelector.CONTACT">
    <contact></contact>
  </pre>
</div>
