@font-face{
  font-family: ArchivoVariable;
  src: url('../../../../assets/fonts/Archivo-VariableFont_wdth,wght.ttf');
}

.page-container {
  background-color: #F4FAFA;
}

.row {
  display: flex;
}

.top-row {
  height: 75px;
  width: 500px;
  color: black;
  font-family: ArchivoVariable, sans-serif;
  letter-spacing: 3px;
  font-weight: normal;
  line-height: 40px;
  font-size: 17pt;
}

.top-row > header{
  width: 50%;
  padding-left: 100px;
  padding-right: 50px;
  font-family: blankaRegular, sans-serif;
  font-size: 50pt;
  font-weight: bold;
}

form > div {
  padding: 10px 0 10px 50px;
}

label {
  width: 20%;
  padding: 10px;
  display: block;
  font-family: ArchivoVariable, sans-serif;
  font-weight: lighter;
  font-size: 18px;
}

select {
  font-family: ArchivoVariable, sans-serif;
  margin-left: 10px;
  width: 250px;
  height: 30px;
}

input {
  padding: 8px;
  font-family: ArchivoVariable, sans-serif;
  margin-left: 10px;
  width: 240px;
  height: 18px;
}

.button-div {
  padding-left: 50px;
}

.button-div > button {
  border: 0;
  margin: 15px 10px;
  padding: 10px;
  font-family: ArchivoVariable, sans-serif;
  font-weight: normal;
  letter-spacing: 3px;
  color: #F4FAFA;
  background-color: #971D20;
}

button:hover {
  background-color: rgb(84, 22, 22);
}

