<div class="pageContainer">
  <div class="row">
    <div class="message">
      I CAN PUT YOUR MISSION STATEMENT HERE WHATEVER YOU WOULD LIKE
      THE USER TO SEE FIRST WHEN THEY COME ON THE SITE
      <div style="padding-top: 10px;">
        <button mat-fab extended class="feature-buttons"
                (click)="goToNewPage(PageSelector.SERVICES)">
          OUR SERVICES<mat-icon>info</mat-icon>
        </button>
      </div>
    </div>
    <div class="image-div "></div>
  </div>
<!--<div class="row">-->
<!--  <div class="box column main-column " (click)="toggleFlip(1)" [@flipState]="flipCard1">-->
<!--    <div class="side front">-->
<!--      WHAT WE PROVIDE-->
<!--    </div>-->
<!--    <div class="side back">-->
<!--      <ul>-->
<!--        <li><mat-icon>show_chart</mat-icon>   Create & schedule curated content to your social media platforms.</li>-->
<!--        <li><mat-icon>show_chart</mat-icon>   Provide insight and analytics reports on your social media performance.</li>-->
<!--        <li><mat-icon>show_chart</mat-icon>   Create & manage digital paid ad campaigns.</li>-->
<!--        <li><mat-icon>show_chart</mat-icon>   Build brand recognition and awareness with your businesses target audience.</li>-->
<!--        <li><mat-icon>show_chart</mat-icon>   Keep your page up-to-date with keywords and trends to ensure content is best suited to your industry.</li>-->
<!--      </ul>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="box column description-column " (click)="toggleFlip(2)" [@flipState]="flipCard2">-->
<!--    <div class="side front">-->
<!--      WHAT WE CAN DO FOR YOU-->
<!--    </div>-->
<!--    <div class="side back">-->
<!--      <ul>-->
<!--        <li><mat-icon>show_chart</mat-icon>   Create & schedule curated content to your social media platforms.</li>-->
<!--        <li><mat-icon>show_chart</mat-icon>   Provide insight and analytics reports on your social media performance.</li>-->
<!--        <li><mat-icon>show_chart</mat-icon>   Create & manage digital paid ad campaigns.</li>-->
<!--        <li><mat-icon>show_chart</mat-icon>   Build brand recognition and awareness with your businesses target audience.</li>-->
<!--        <li><mat-icon>show_chart</mat-icon>   Keep your page up-to-date with keywords and trends to ensure content is best suited to your industry.</li>-->
<!--      </ul>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--<div class="row">-->
<!--  <div class="box column main-column " (click)="toggleFlip(3)" [@flipState]="flipCard3">-->
<!--    <div class="side front">-->
<!--      CONTACT US AND BOOK TODAY!-->
<!--    </div>-->
<!--    <div class="side back">-->
<!--      <ul>-->
<!--        <li><mat-icon>show_chart</mat-icon>   Create & schedule curated content to your social media platforms.</li>-->
<!--        <li><mat-icon>show_chart</mat-icon>   Provide insight and analytics reports on your social media performance.</li>-->
<!--        <li><mat-icon>show_chart</mat-icon>   Create & manage digital paid ad campaigns.</li>-->
<!--        <li><mat-icon>show_chart</mat-icon>   Build brand recognition and awareness with your businesses target audience.</li>-->
<!--        <li><mat-icon>show_chart</mat-icon>   Keep your page up-to-date with keywords and trends to ensure content is best suited to your industry.</li>-->
<!--      </ul>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="box column description-column " (click)="toggleFlip(4)" [@flipState]="flipCard4">-->
<!--    <div class="side front">-->
<!--      GROW WITH US-->
<!--    </div>-->
<!--    <div class="side back">-->
<!--      <ul>-->
<!--        <li><mat-icon>show_chart</mat-icon>   Create & schedule curated content to your social media platforms.</li>-->
<!--        <li><mat-icon>show_chart</mat-icon>   Provide insight and analytics reports on your social media performance.</li>-->
<!--        <li><mat-icon>show_chart</mat-icon>   Create & manage digital paid ad campaigns.</li>-->
<!--        <li><mat-icon>show_chart</mat-icon>   Build brand recognition and awareness with your businesses target audience.</li>-->
<!--        <li><mat-icon>show_chart</mat-icon>   Keep your page up-to-date with keywords and trends to ensure content is best suited to your industry.</li>-->
<!--      </ul>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

</div>
