@font-face{
  font-family: ArchivoVariable;
  src: url('../../../../assets/fonts/Archivo-VariableFont_wdth,wght.ttf');
}
@font-face{
  font-family: blankaRegular;
  src: url('../../../../assets/fonts/Blanka-Regular.otf');
}
.page-container {
  background-color: #F4FAFA;
  padding-top: 0;
}

.image-div {
  width: 50%;
  height: 500px;
  margin: 50px 0 50px 100px;
  background-size: contain;
  background-repeat: no-repeat;
}

.are-you-ready {
  background-image: url("../../../../assets/images/areYouReady.webp");
}

.first-pillar {
  background-image: url("../../../../assets/images/1pillar.png");
}

.second-pillar {
  background-image: url("../../../../assets/images/2pillars.png");
}

.third-pillar {
  background-image: url("../../../../assets/images/3pillars.png");
}

.fourth-pillar {
  background-image: url("../../../../assets/images/4pillars.png");
}

.message {
  padding-top: 100px;
  height: 500px;
  width: 700px;
  color: black;
  font-family: ArchivoVariable, sans-serif;
  letter-spacing: 4px;
  font-weight: bold;
  line-height: 40px;
  font-size: 22pt;
  word-break: break-word;
  white-space: normal;
  overflow-wrap: break-word;
  text-align: left;
  padding-left: 75px;
}

.small-message {
  letter-spacing: 1px;
  font-weight: lighter;
  font-size: 20px;
  padding-right: 50px;
}

.small-message > header {
  font-weight: bold;
  font-size: 30px;
  color: #971D20;
}

.feature-buttons {
  background-color: #971D20;
  color: #F4FAFA;
}

.row {
  height: 600px;
  display: flex;
}

.column {
  font-family: ArchivoVariable, sans-serif;
  font-weight: bold;
  width: 50%;
}



