<div class="page-container">
  <div class="row">
    <div class="message">
      {{missionStatement}}
      <div style="padding-top: 10px;">
        <button mat-fab extended class="feature-buttons"
                (click)="goToServices(PageSelector.SERVICES)">
          OUR SERVICES<mat-icon>info</mat-icon>
        </button>
      </div>
    </div>
    <div class="image-div are-you-ready"></div>
  </div>
  <div class="row">
    <div class="image-div first-pillar">
    </div>
    <div class="message small-message">
      <header>CREATE</header>
      {{createStatement}}
    </div>
  </div>
  <div class="row">
    <div class="image-div second-pillar">
    </div>
    <div class="message small-message">
      <header>CHARGE</header>
      {{chargeStatement}}
    </div>
  </div>
  <div class="row">
    <div class="image-div third-pillar">
    </div>
    <div class="message small-message">
      <header>BUILD</header>
      {{buildStatement}}
    </div>
  </div>
  <div class="row">
    <div class="image-div fourth-pillar">
    </div>
    <div class="message small-message">
      <header>SUCCEED</header>
      {{succeedStatement}}
    </div>
  </div>
</div>

